.development {
    height: 110vh;
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url('/assets/images/background-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5vw;
}

.development-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2em;
    width: 78vw;
    margin: 5em auto;
}

.development-title {
    width: 45%;
    margin: auto;
    text-align: center; 
}

.development-title h3 {
    font-weight: 700;
}

.development-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}

.content-text {
    padding-top: 1em;
    font-size: 1.2em;
}

.box {
    position: relative;
    width: 10em;
    height: 10em;
    background: transparent;
    border-radius: 50%;
    overflow: hidden;
}

.box::before {
    content: '';
    position: absolute;
    inset: -1em 3em;
    background: linear-gradient(315deg,#00ccff,#d400d4);
    animation: animate 6s linear infinite;
}

.box:hover::before {
    inset: -20px 0px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.box::after {
    content: '';
    position: absolute;
    inset: 6px;
    background: #171818;
    border-radius: 50%;
    z-index: 1;
}

.content {
    position: absolute;
    inset: 10px;
    border: 6px solid #ffffff;
    z-index: 3;
    border-radius: 50%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    transition: 0.5s;
}