.loop {
    width: 78vw;
    height: 70vh;
    margin: auto;  
    padding-top: 5vw;    
}

.loop-item {
    width: 40%;
    margin-bottom: 3vw;
    
}

.subscribe-area {
    background-color: #1C140F;
    border-radius: 15px;
    height: 20vh;
    display: flex;
    flex-direction: row;
    padding: 1.5vw 2vw 1.5vw 3vw;
}

.subscribe-item {
    justify-content: center;
    align-items: center;
    width: 50%;
    letter-spacing: 3px;
}

.subscribe-input {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.subscribe-input input {
    width: 60%;
    height: 24%;
    border-radius: 10px;
    border: none;
    padding-left: 20px;
    margin-right: 0%;
}