@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('/assets/fonts/Rubik-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'DancingScript';
    src: url('/assets/fonts/DancingScript-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}



* {
    font-family: 'Poppins';
    font-weight: 400;
    line-height: 140%;
}

h1 {
    font-size: 4.5rem;
    font-weight: 700;
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;    
}

h3 {
    font-size: 2rem;
}

h5 {
    font-family: 'Rubik';
    font-size: 1.7rem;
    text-align: center;
}

h6 {
    color: #E87D0E;
    font-size: 1.6rem;
    font-weight: 700;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.semibold {
    font-family: 'Poppins';
    font-weight: 600;    
}

.bold {
    font-family: 'Poppins';
    font-weight: 700;    
}

body {
    align-items: center;
    margin: auto;
    background: linear-gradient(to bottom, #39289F, #422F9C);
    color: white;   
}
