@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('/assets/fonts/Rubik-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


* {
    font-family: 'Poppins';
    font-weight: 400;
}

h1 {
    font-size: 66px;
    font-weight: 700;
}

h2 {
    font-size: 34px;
    font-weight: 700;    
}

body {
    align-items: center;
    margin: auto;
    background-color: #39289F;
    color: white;
}

.navbar {
    width: 90vw;
    height: 150px;
    align-content: center;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: 700;
    font-size: 50px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #E87D0E;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 20px;
    color: white; 
}

header li {
    margin-left: 110px;   
}

.main-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: auto;
    width: 78vw;
    margin-top: 85px;
}

.second-container-1 {
    width: 600px;
}

h3 {
    color: #E87D0E;
    font-size: 26px;
    font-weight: 700;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.second-container-1 p {
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 60px;
}

.imagem-joystick {
    position: absolute;
    margin-top: -250px;
    margin-left: 160px;
    width: 47vw;
    z-index: -1;
}

.button-details {
    border-radius: 50px;
    border: none;
    height: 65px;
    width: 250px;
    font-size: 18px;
    background: linear-gradient(to right, #FA8305, #FB9E3C);
    color: white;
}

.button-contact {
    background: #FA9021;
    border-radius: 10px;
    width: 150px;
    height: 48px;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-contact a:hover{
    background: #fca242;
    border-radius: 10px;
    width: 150px;
    height: 48px;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #39289F;
}

.button-seall {
    font-family: 'Rubik';
    font-size: 20px;
    color: white;
    background: #603e9e;
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 60px;
}

.trending-games {
    width: 78vw;
    margin: auto;
    margin-top: 140px;
}

.container-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px
}

.games-trending {
    object-fit: cover;
    width: 17vw; 
    height: 20vw; 
    border-radius: 25px;    
}

h5 {
    font-family: 'Rubik';
    font-size: 26px;
    text-align: center;
}

.section-1 {
    padding-top: 2vw;
    width: 40vw;
    align-items: center;
    margin: auto;
    text-align: center;
    line-height: 80px;
}

.section-2 {
    width: 78vw;
    margin: auto; 
    margin-top: 5vw;
    line-height: 2vw;
}

.section-2-2 {
    width: 50%;
    font-size: 21px;
}

h4 {
    font-size: 30px;
}

.imagem-game-destaque {
    width: 78vw;
    height: auto;
    margin-top: 3vw;
    margin-bottom: 10vw;
}

.development {
    height: 110vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('/assets/images/background-1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.section-test {
    width: 40%;
    margin: auto;
    text-align: center;
    padding: 50px;
}

.circle {
    background-color: white;
    border-radius: 50%;
    width: 6vw;
    height: 6vw;
    margin-bottom: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 3.5vw;
}

.section-links-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 78vw;
    margin: auto;
}

.section-links-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 78vw;
    margin: auto;
}

.center-itens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.project {
    width: 78vw;
    height: 190vh;
    margin: auto;
    text-align: center;
    padding-top: 8vw;
}

.grid-image {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
}

.img-project {
    width: 450px;
    height: 280px;
    border-radius: 25px;
}

.project-container-button {
    margin: 100px;
}

.project-container-text {
    width: 50%;
    margin-right: 0;
    margin-bottom: 100px;
    text-align: left;
    padding-right: 50px;
}

.loop {
    height: 7vw;
    background-color: #1C140F;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    padding: 40px;
}

.loop h4 {
    padding: 0;
    padding-bottom: 10px;
    margin: 0;
}

.loop p {
    padding: 0;
    margin: 0;
}

.loop-container {
    width: 60%;
    text-align: left;
    padding-right: 20px;
    padding-left: 20px;
}

.loop-container-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;  
    height: 2vw;
    border-radius: 10px;
    border: none;
    margin: auto;
    padding-left: 20px;
}

.loop-container-input input{
    
    width: 60%;  
    height: 2vw;
    border-radius: 10px;
    border: none;
    margin: auto;
    padding-left: 20px;
}




