body {
    align-items: center;
    margin: auto;
    background: linear-gradient(to bottom, #39289F, #422F9C);
    color: white;   
}

.intro {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: auto;
    width: 78vw;
    margin-top: 3vh;
}

.intro-item-1 {
    width: 40%;
}

.intro-item-1 p {
    font-size: 1.2em;
    line-height: 2em;
    margin-bottom: 7%;
}

#image-joystick {
    position: absolute;
    top: 0;
    left: 62em;
    width: 50%;
    z-index: -1;
}

#image-engines {
    position: absolute;
    top: 16em;
    left: 54em;
    width: 36vw;
    z-index: -1;    
}

.recommended {
    width: 78vw;
    margin: auto;
}

.recommended-title {
    width: 60%;
    margin: auto;
    text-align: center;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

.recommended-item {
    text-align: left; 
    width: 38%;
    margin-top: 2vh; 
}

.imagem-game-recommended {
    width: 78vw;
    height: auto;
    margin-top: 3vw;
    margin-bottom: 10vw;
}