.development {
    height: 110vh;
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url('/assets/images/background-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5vw;
}

.development-item {
    width: 40%;
    margin: auto;
    text-align: center;
    padding: 50px;
}

.development-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 78vw;
    margin: auto;
}

.circle {
    background-color: white;
    border-radius: 50%;
    width: 6vw;
    height: 6vw;
    margin-bottom: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 3.5vw;
}

.development-links-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 78vw;
    margin: auto;
}

.center-itens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    
}
