.button-contact {
    background: #FA9021;
    border: none;
    border-radius: 0.6em; 
    width: 8vw;
    height: 5vh; 
    font-size: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.button-contact a:hover{
    /* background: #fca242; */
    border-radius: 0.6em; 
    width: 8vw;
    height: 5vh;
    font-size: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.button-contact:hover{
    background: #fca242;
    border-radius: 0.6em; 
    width: 8vw;
    height: 5vh;
    font-size: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-details {
    background: linear-gradient(to right, #FA8305, #FB9E3C);
    border-radius: 2em;
    border: none;
    font-size: 1.2em;
    padding: 1em 2em;
    color: white;
    cursor: pointer;
}

.button-details:hover{
    background: #FB9E3C;
    cursor: pointer;
}

.button-seall {
    font-family: 'Rubik';
    font-size: 1.2em;
    background: #603e9e;
    color: white;
    text-align: center;
    border: none;
    border-radius: 0.5em;
    padding: 0.8em 2em;
    cursor: pointer;
}

.button-seall:hover{
    background: #6d50a1;    
}

.button-subscribe {
    background-color: #DC7000;
    color: white;
    border: none;
    border-radius: 0.5em;
    top: 5.7em;
    right: 0.3em;
    width: 8em;
    height: 2.6em;
    position: absolute;
}

.button-subscribe:hover{
    background-color: #fca242;    
}

